@font-face {
    font-family: Proxima Nova Regular;
    src: url(fonts/pompadur.ttf);
   }
*{
    font-family: Proxima Nova Regular, Helvetica, sans-serif;
}
main{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding-top: 56px;
}

main>div{
    width: 20.83%;
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.svg-container1{
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(18, 117, 185);
    width: 65px;
    height: 63px;
    padding: 16px 20px;
    margin: 0 auto;
    padding: 0 auto;
}

.svg-container2{
    box-sizing: border-box;
    border-radius: 50%;
    background-color: rgb(18, 117, 185);
    width: 65px;
    height: 63px;
    padding: 18px;
    margin: 0 auto;
    padding: 0 auto;
}

h2{
    margin-top: 16px;
    font-size: 14px;
}

p{  color:#9d9d9d;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
}
svg{
    fill: white; 
 }

.svg-container1:hover, .svg-container2:hover{
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgb(18, 117, 185);
}

.svg-container1:hover svg, .svg-container2:hover svg{
    fill:rgb(18, 117, 185);
}